<!-- realizar-compra.component.html -->

<div class="text-center">
    <h1>REALIZAR COMPRA</h1>
  
    <div *ngFor="let cubo of cubos" class="card mb-3" style="display: inline-block; margin: 0 auto;">
      <img [src]="cubo.imagen" class="card-img-top" alt="Cubo Imagen" style="height: 250px; width: 250px;" />
      <div class="card-body">
        <h5 class="card-title">{{ cubo.nombre }}</h5>
  
        <p class="card-text"><strong>Precio:</strong> {{ cubo.precio }} €</p>
        <button (click)="comprarCubo(cubo.idCubo)" class="btn btn-primary">
          Comprar
        </button>
      </div>
    </div>
  </div>
  