<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/'"
            >CUBOS</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            MARCAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let marca of marcas">
              <a
                class="dropdown-item"
                [routerLink]="'cubosmarca/' + marca"
                >{{ marca }}</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PERFIL
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="'login/'">LOG IN </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'registro/'">REGISTRARSE</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'realizarCompra/'">COMPRAR </a>
            </li>
            <li>
              <button class="dropdown-item" (click)="limpiarToken()">LOG OUT </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
